table{
	border: 2px solid rgb(140 140 140);
	border-collapse: collapse;
	table-layout: fixed;
}

th{
	font-size: 13px;
	padding-left: 2px;
	padding-right: 2px;
}
th,td{
	border: 1px solid rgb(160 160 160);
	margin: 0;
}
td>input{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
